
body{
    margin: 50px 335px 50px 335px;
}

.first{
    background-color: blue;
    width: 350px;
    height: 250px;
    padding: 10px;
    float: right;
   

    display: flex;
    align-items: center;
    justify-content: center;
}
.first:hover{
    background-color: aqua;
    color: red;
}


.second{
    background-color: lightgoldenrodyellow;
    width: 350px;
    height: 250px;
    padding: 10px;
    

    display: flex;
    align-items: center;
    justify-content: center;
  
}
.second:hover{
    background-color: aqua;
    color: blue;
}
.third{
    background-color: gray;
    width: 350px;
    height: 300px;
    padding: 10px;
    margin: 0 auto 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.third:hover{
    background-color: aqua;
    color: red;
}

.forth{
    background-color: rgb(255, 242, 122);
    width: 350px;
    height: 350px;
    padding: 10px;
    float: right;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.forth:hover{
    background-color: aqua;
    color: red;
}

.fifth{
    background-color: lightslategray;
    width: 350px;
    height:350px;
    padding: 10px;
   

    display: flex;
    align-items: center;
    justify-content: center;   
}

.fifth:hover{
    background-color: aqua;
    color: red;
}

.sixth{
border-collapse: collapse;
color:blue;
font-family:sans-serif;
font-size: 30px;
}
table, th, td {
    border: 5px greenyellow;
    text-align: center;
}
th, td {
    padding: 50px;
}
tr: :nth-child(odd){
    background: #173459;
}
tr:nth-child(even){
    background:#f8f6f7;
}


